/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 10px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    display: none;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 50px !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    /* height: auto !important; */
    background: white !important;
  
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: transparent !important;
    width:unset !important
  }

  .bm-burger-bars {
    background: white;
}
.bm-item.main-header-menu{
    display: flex !important;
    flex-direction: column;
    background:transparent !important;
    height: auto;
    justify-content: center;
    align-items: center;
}
.bm-menu {
  background: white !important;
  padding: 2.5em 0px;
    font-size: 1.15em;
    border-right:1px solid #80808069;
}
a.main-header-menu.icon-with-round-hover,button.main-header-menu.icon-with-round-hover{
    padding: 20px !important;
}
header{
  background-color: transparent !important;
  border-bottom: unset !important;
  box-shadow: unset !important;
}
.sidebar-user-no-fea-img-sec{
  width: 200px !important;
  height: 200px !important;
}
.sidebar-user-img{
  width:16rem !important;
  height:16rem !important;
}
#google-connect,.btn.gradient-btn.gradientcolor{
  background: linear-gradient(90deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 35%, rgba(98,40,215,1) 100%) !important;

}